<div class="general">
    <div class="code">
        <div class="label">Kód</div>
        <div class="value">
            {{code}}
        </div>
    </div>
    <div class="name">
        <div class="label">Název</div>
        <div class="value">
            {{{name}}}
        </div>
    </div>
    <div class="description">
        <div class="label">Popis</div>
        <div class="value">
            {{{note}}}
        </div>
    </div>
</div>
<div class="classification">
    <div class="category">
        <div class="label">Kategorie</div>
        <div class="value">
            {{{category}}}
        </div>
    </div>
    <div class="brand">
        <div class="label">Značka</div>
        <div class="value">
            {{{brand}}}
        </div>
    </div>
    <div class="supplier">
        <div class="label">Dodavatel</div>
        <div class="value">
            {{{supplier}}}
        </div>
    </div>
</div>

<div class="variants eight columns"></div>
