<div class="ui-input">
    {{#if label}}<label for="{{id}}">{{label}}{{#if required}} *{{/if}}</label>{{/if}}
    <input id="{{id}}" type="string" value="{{value}}" placeholder="{{placeholder}}" />
    <div class="message">{{description}}</div>
</div>